@import '../../definitions.styl'
// Filter radio button styl file
@import 'filter.styl'
// Shares the same style grid as products
@import '../product-list/product-list.component.styl'

// Not found afterthoughtf
.not-found
	padding-bottom rem(150px)