<div class='footer'>
	<footer>
		<div class='top'>
			<img class='logo' src='./assets/images/logo.svg'/>
			<p>&copy; 2018 New Amsterdam Spirits Company. Modesto CA. All rights reserved.
			</p>
		</div>
		<div class="bottom">
			<div class='mobile-links'>
				<a href='https://twitter.com/newamsterdam' target="blank"><img src='./assets/images/icons/twitter.svg'/></a>
				<a href='https://www.facebook.com/NewAmsterdamVodka' target="blank"><img src='./assets/images/icons/facebook.svg'/></a>
				<a href='https://www.instagram.com/newamsterdamvodka' target="blank"><img src='./assets/images/icons/instagram.svg'/></a>
				<a href='http://www.drizly.com' class='show-mobile' target="blank"><img src='./assets/images/icons/blue-bear.png'/></a>
			</div>

			<div class='terms'>
				<p class='show-desktop'>Use of this site is subject to:  </p>
				<a routerLink="/privacy-policy"> privacy policy</a>
				<a routerLink="/use-agreement">use agreement</a>
				<a routerLink="/trademarks">trademarks</a>
				<a routerLink="/acceptable-use-agreement">acceptable use policy</a>
			</div>
		</div>
	</footer>
</div>
