
.headline-block
	margin-top rem(24px)
	margin-bottom rem(38px)

	.subhead-copy
		color cool-grey
		font 'light' , 48px, cool-grey
		margin-bottom rem(42px)

	.featured
		font 'light', 32px, slate-grey
		line-height 1.25
		margin-bottom rem(8px)

	.logo
		width rem(220px)
		margin-bottom rem(64px)

	.page-title
		margin-bottom rem(20px)

	@media (min-width S)
		margin-top 0
		padding-right 0
		margin-bottom rem(78px)
		width 60%

		.page-title
			margin-bottom rem(30px)

		.subhead-copy
			font-size 44px
			line-height 1.02
			color slate-grey

		.subhead
			color slate-grey

		.featured
			font-size 48px
			line-height 0.83

		.featured
		.logo
			margin-bottom rem(30px)
