// Place shadow on element
// add shadow-card to parent class
// card-wrapper and the child wrapper class
// card-wrapper place padding/ margin for each card there
.shadow-card
	.card-wrapper
		display flex!important
		flex-direction column
		align-items center
		text-align center
		height 100%
		top 0
		bottom 0
		right 0
		background white
		width 100%
		left 0
		position absolute
		margin auto //put this back in promo-block.style card if it doesn't work with everything
