/* List */

ul li a
	text-align: center
	font-size: 26px
// body
// 	margin 40px

.headline
	font-family Knockout-HTF27-JuniorBantamwt
	line-height 0.75
	font-size 200px
	text-transform uppercase
	font-weight normal
	@media (min-width S)
		font-size 195px
		line-height 0.82

.headline1
	H2-Drink-Titles()
	color black


.body-copy
	font-family TradeGothicLTStd-Cn18
	font-size 36px
	color slate-grey
	@media (min-width S)
		font-size 24px


.title
.page-title
	@media (max-width mobile){
		font-size 180px
	}
	font 'KO', 200px, black
	line-height 0.75
	letter-spacing 0.8px
	font-weight normal
	text-align left
	@media (min-width S)
		font-size 140px
		line-height 0.88
		letter-spacing 0px

.subtitle
	font-family Knockout-HTF29-JuniorLiteweight
	font-size 56px
	font-weight normal
	text-transform uppercase
	line-height 1.13
	color slate-grey
	@media (min-width S)
		font-size 44px


.subhead
	font-family Knockout-HTF29-JuniorLiteweight
	font-size 64px
	line-height 1.13
	text-transform uppercase
	font-weight normal
	letter-spacing normal
	color slate-grey
	@media (min-width S)
		H3-Drink-Label()
		// H3-Drink-Label()
		// 	font-family Knockout-HTF29-JuniorLiteweight
		// 	font-size 44px
		// 	font-weight normal
		// 	text-transform uppercase
		// 	line-height 1.02
		// 	color slate-grey


// p
.page-subhead
	font-family TradeGothicLTStd
	font-size 36px
	font-weight normal
	font-style normal
	font-stretch normal
	line-height 1.33
	letter-spacing normal
	color slate-grey
	@media (min-width S)
		font-size 24px

.copy
		font-family TradeGothicLTStd
		font-size 36px
		font-weight normal
		font-stretch normal
		line-height 1.11
		letter-spacing normal
		color slate-grey
		@media (min-width S)
			H3-body()
		// H3-body()
		// 	font-family TradeGothicLTStd
		// 	font-size 24px
		// 	line-height 1.54
		// 	letter-spacing -0.5px
		// 	color slate-grey
.icon-drizly
	&:before
		content icon-drizly
.icon-side-angle
	&:before
		content icon-side-angle
		color #224a93
.icon-icon .path1
	&:before
		content: icon-icon-path1
		color rgb(235, 235, 235)
.icon-icon .path2
	&:before
		content: icon-icon-path2
		margin-left -1em
		color rgb(0, 0, 0)
.icon-icon .path3
	&:before
		content: icon-icon-path3
		margin-left -1em
		color rgb(0, 0, 0)
.icon-premium_icon .path1
	&:before
		content: icon-premium_icon-path1
		color rgb(235, 235, 235)
.icon-premium_icon .path2
	&:before
		content: icon-premium_icon-path2
		margin-left -1em
		color rgb(0, 0, 0)
.icon-shaker .path1
	&:before
		content: icon-shaker-path1
		color rgb(235, 235, 235)
.icon-shaker .path2
	&:before
		content: icon-shaker-path2
		margin-left -1em
		color rgb(0, 0, 0)
.icon-shaker .path3
	&:before
		content: icon-shaker-path3
		margin-left -1em
		color rgb(0, 0, 0)
.icon-close
	&:before
		content icon-close
		color #224a93
.icon-dropdown-arrow
	&:before
		content icon-dropdown-arrow
		color #224a93
.icon-facebook
	&:before
		content icon-facebook
		color #224a93
.icon-instagram
	&:before
		content icon-instagram
		color #224a93
.icon-menu
	&:before
		content icon-menu
		color #224a93
.icon-youtube .path1
	&:before
		content: icon-youtube-path1
		color rgb(34, 74, 147)
.icon-youtube .path2
	&:before
		content: icon-youtube-path2
		margin-left -1.392578125em
		color rgb(255, 255, 255)

// TOP
@keyframes inT
	0%
		transform translateY(0px) rotate(0deg)
	50%
		transform translateY(1rem) rotate(0deg)
	100%
		transform translateY(1rem) rotate(135deg)

@keyframes inT_desk
	0%
		transform translateY(0px) rotate(0deg)
	50%
		transform translateY(8px) rotate(0)
	100%
		transform translateY(8px) rotate(135deg)

// TOP
@keyframes outT
	0%
		transform translateY(0px) rotate(0deg)
	50%
		transform translateY(1rem) rotate(0deg)
	100%
		transform translateY(1rem) rotate(135deg)

@keyframes outT_desk
	0%
		transform translateY(0px) rotate(0deg)
	50%
		transform translateY(8px) rotate(0deg)
	100%
		transform translateY(8px) rotate(135deg)

@keyframes inM
	50%
		transform rotate(0deg)
	100%
		transform rotate(45deg)

@keyframes outM
	50%
		transform rotate(0deg)
	100%
		transform rotate(45deg)

// BOTTOM
@keyframes inB
	0
		transform translateY(0px)  rotate(0deg)
	50%
		transform translateY(-1rem) rotate(0deg)
	100%
		transform translateY(-1rem) rotate(135deg)


@keyframes inB_desk
	0
		transform translateY(0px)  rotate(0deg)
	50%
		transform translateY(-8px) rotate(0deg)
	100%
		transform translateY(-8px) rotate(135deg)

@keyframes outB
	0
		transform translateY(0px)  rotate(0deg)
	50%
		transform translateY(-1rem) rotate(0deg)
	100%
		transform translateY(-1rem) rotate(135deg)

@keyframes outB_desk
	0
		transform translateY(0px)  rotate(0deg)
	50%
		transform translateY(-8px) rotate(0deg)
	100%
		transform translateY(-8px) rotate(135deg)
