@import '../../definitions.styl'
@import 'map-overrides.styl'
@import '../contact/select.styl'

// #grow:after
// animation grow 0.8s forwards cubic-bezier(0.42, 0, 0.58, 1) 0.5s
// .opacity
// animation opacity 1s forwards ease 700ms
.where-to-buy
	@media (max-width: S)
		margin-top rem(80px)

.wineos-winefinder-wrapper
	form
		align-items center
		display flex
		flex-wrap wrap
		margin rem(90px) 0
		max-width 840px !important

		@media (min-width: S)
			.form-group
				max-width 350px

			button
				margin-top 0 !important

		.form-group
			height 100%
			margin 0 rem(44px) rem(form-bottom-space) 0
			width 100%

			// error
			span
				display block
				margin-top 7px

			select, input:not([type=radio])
				display block
				text-align left
				width 100%

			// Flavor
			&:nth-child(1)
				order 2

			// Inline radio buttons in Stores or Dining Out
			&:nth-child(2)
				align-self center
				display flex
				margin-bottom 0
				order 4

			// Zip Code
			&:nth-child(3)
				order 1

			// Miles to Search
			&:nth-child(4)
				order 3

		// Inline radio buttons
		.radio-inline
			display inline-block
			font-size rem(28px) !important
			margin-bottom 0 !important

			&:first-of-type
				margin-right 20px

		// Submit Button
		button[type=submit]
			background cobalt
			border solid 1px cobalt !important
			color white
			height rem(72px)
			margin-top rem(form-bottom-space)
			order 5
			width rem(280px)
			buttons()

			&:hover
				color cobalt
				cursor pointer

	// hides copy
	.pull-down
		p:first-of-type
			display none

	input[type='radio']
		margin-right 10px

	.radiusSelect, .flavorSelect
		border-radius 0
